<footer class="sj-footer">


    <div class="sj-footer-container">

        <div class="sj-footer-brand">
            <div class="sj-footer-logo"><img src="/static/images/sarkari_jobs.png"
                    style="height: 90px;width: 90px; border-radius: 50%;"></div>

            <div>
                <h3>SarkariJobs</h3>
                <p>
                    Latest Government Jobs, Results, Admit Cards,
                    Answer Keys & Sarkari Updates.
                </p>
            </div>
        </div>


        <div class="sj-footer-links">

            <h4>Quick Links</h4>

            <div class="quick-links-grid">

                <a href="{% url 'home' %}">
                    <span>⌂</span> Home
                </a>


                <a href="{% url 'contact' %}">
                    <span>✉</span> Contact
                </a>
                <a href="{% url 'privacy_policy' %}">Privacy Policy</a>
                <a href="{% url 'disclaimer' %}">Disclaimer</a>
                <a href="{% url 'terms_conditions' %}">
                    Terms & Conditions
                </a>
                <a href="{% url 'about' %}">About Us</a>

            </div>

        </div>

    </div>


    <div class="sj-footer-divider"></div>


    <div class="sj-footer-bottom">

        <p>
            © 2026 <strong>SarkariJobs</strong>. All Rights Reserved.
        </p>

        <p>
            This website is not associated with any government organization.
        </p>

    </div>


</footer>