<header class="top-header">
    <div class="container">

        <div class="header-wrapper">

            <div class="logo">
                <img src="/static/images/sarkari_jobs.png"
     alt="SarkariJobs"
     style="height: 90px; width: 90px; border-radius: 50%;">
            </div>

            <div class="site-title">
                <h1>SARKARIJOBS</h1>
                <p>Without ads Platform & in under Development</p>
            </div>
            <div class="admin-login">
    <a href="{% url 'admin:index' %}">
        <span>🔐</span>
        Admin Login
    </a>
</div>


        </div>

    </div>
</header>