<nav class="main-navbar">

    <div class="container">

      <button class="menu-toggle" id="menuToggle" aria-label="Toggle Menu">
    <span></span>
    <span></span>
    <span></span>
</button>

        <ul class="nav-menu" id="navMenu">

            <li><a href="/">Home</a></li>

            <li><a href="/latest-jobs/">Latest Jobs</a></li>

            <li><a href="/result/ ">Result</a></li>

            <li><a href="/admit-card/">Admit Card</a></li>

            <li><a href="/answer-key/">Answer Key</a></li>

            <li><a href="/syllabus/">Syllabus</a></li>

            <li><a href="/admission/">Admission</a></li>

            <li><a href="{% url 'contact' %}">Contact</a></li>

        </ul>
       <div class="nav-search">

    <div class="search-box" id="searchBox">

        <input
            type="text"
            id="searchInput"
            placeholder="Search Jobs..."
            autocomplete="off"
        >

        <button type="button" id="searchToggle" aria-label="Open search">
            <i class="fa-solid fa-magnifying-glass" aria-hidden="true"></i>
        </button>

    </div>

    <div id="searchSuggestions"></div>

</div>

    </div>

</nav>