<div class="container mt-3">
    <div class="row g-2">
        <div class="col-6 col-md-3">
            <button class="btn btn-primary w-100">Latest Jobs</button>
        </div>
        <div class="col-6 col-md-3">
            <button class="btn btn-success w-100">Results</button>
        </div>
        <div class="col-6 col-md-3">
            <button class="btn btn-warning w-100">Admit Card</button>
        </div>
        <div class="col-6 col-md-3">
            <button class="btn btn-danger w-100">Answer Key</button>
        </div>
    </div>
</div>